{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog de Fernández</title>
  <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body>
  <!-- Barra negra -->
  <header class="header-negro">
    <div class="container-header">
      <h2>Blog de Fernández</h2>
    </div>
  </header>

  <!-- Barra azul -->
  <nav class="navbar">
    <ul>
      <li><a href="{% url 'inicio' %}">Inicio</a></li>
      <li><a href="{% url 'listado' %}">Listado</a></li>
      <li><a href="{% url 'lista_categorias' %}">Categorías</a></li>
    </ul>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
